<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongji.dao.EmployeeMapper">
<!-- 
namespace:名称空间;指定为接口的全类名即：文件和接口绑定，后面还有方法和ID绑定
id：唯一标识
resultType：返回值类型
#{id}：从传递过来的参数中取出id值

public Employee getEmpById(Integer id);把这个接口的方法和这个id绑定
 -->
	<select id="getEmpById" resultType="com.tongji.bean.Employee"
	databaseId="oracle">
	<!-- 需要注意的是，如果你javabean属性名和字段名是不一样的，这里取别名才能赋值成功 但是配置文件里面已经配置了驼峰转换就没关系。-->
		select * from employees where employee_id = #{id}
	</select>
	<!--为了兼容不同的数据库，不同的数据库不同的SQL -->
	<select id="getEmpById" resultType="com.tongji.bean.Employee"
        databaseId="mysql">
        select id,name lastname,birth hiredate from customer where id=#{id}
    </select>
	

<!-- public Employee getEmpByIdAndLastName(Integer id,String lastName); -->

	<!-- 【命名参数】：
	    在接口类中，参数前面就明确定义。
	    public Employee getEmpByIdAndLastName(@Param("id")Integer id,@Param("lastName")String lastName);
	    明确指定封装参数时map的key；@Param("id")
	    多个参数会被封装成 一个map，
	        key：使用@Param注解指定的值
	        value：参数值
	 #{指定的key}取出对应的参数值 -->
	<select id="getEmpByIdAndLastName" resultType="com.tongji.bean.Employee"
    databaseId="oracle">
        select * from employees where employee_id=#{id} and last_name=#{lastName}
	 </select>  
	 
	 
<!-- public Employee getEmpByMap(Map<String, Object> map); -->	
    <select id="getEmpByMap" resultType="com.tongji.bean.Employee">
        select * from employees where employee_id=#{id} and last_name=#{lastName}
    </select>

<!-- 返回一个集合public List getEmpsByLastNameLike(String lastName); -->
<!-- resultType 返回值的类型不是list而是写集合里面元素的类型 -->
    <select id="getEmpsByLastNameLike" resultType="com.tongji.bean.Employee">
        select * from employees where last_name like #{lastName}
    </select>
<!-- public Map<String, Object> getEmpByIdReturnMap(Integer id); -->
<!-- resultType返回值可以直接写map,因为mybatis为我们经常用的类封装了别名。我们可以直接用 -->
    <select id="getEmpByIdReturnMap" resultType="map">
        select * from employees where employee_id=#{id}
    </select>
<!-- public Map<Integer, Employee> getEmpByLastNameLikeReturnMap(String lastName); -->
<!-- resultType类型取决于我们想把返回的封装成什么类型。所以这里还是Employee -->
    <select id="getEmpByLastNameLikeReturnMap" resultType="com.tongji.bean.Employee">
        select employee_id id,last_name,hire_date from employees where last_name like #{lastName}
    </select>
<!-- public void addEmp(Employee employee); -->
    <!-- SQL语句不能有分号 -->
    <!-- oracle默认的插入一条数据 -->
    <!-- <insert id="addEmp">
         insert into employees(employee_id,last_name,hire_date)
         values(#{id},#{lastName},#{hireDate})
    </insert> -->
    
     <!-- 这个parameterType是可以省略不写的
     oracle是通过序列和触发器来获得自增的主键的。这种方式是可以不用触发器，就可以自增的插入
                 自增列的数据。
     -->
    <insert id="addEmp" parameterType="com.tongji.bean.Employee"
    databaseId="oracle">
    <!-- keyproperty吧查出的主键值给javabean的哪个属性 
         order="BEFORE"当前的sql在插入sql之前运行
         resultType:查出的数据的返回值类型
    -->
        <selectKey keyProperty="id" order="BEFORE" resultType="Integer">
            <!-- 编写查询主键序列的SQL语句 -->
            select test_seq.nextval from dual
        </selectKey>
            <!-- 插入时的主键从序列中拿到 -->
        insert into employees(employee_id,last_name,hire_date)
        values(#{id},#{lastName},#{hireDate})
    </insert>
	
	<!-- 不推荐：用after来获取我们自增的主键(插入一条数据，插入多条，只返回的最后一条的主键) -->
	
	<!-- <insert id="addEmp" parameterType="com.tongji.bean.Employee"
    databaseId="oracle">
    keyproperty吧查出的主键值给javabean的哪个属性 
         order="BEFORE"当前的sql在插入sql之前运行
         resultType:查出的数据的返回值类型
   
        <selectKey keyProperty="id" order="AFTER" resultType="Integer">
            编写查询主键序列的SQL语句
            select test_seq.currval from dual
        </selectKey>
            插入时的主键从序列中拿到
        insert into employees(employee_id,last_name,hire_date)
        values(test_seq.nextval,#{lastName},#{hireDate})
    </insert> -->
	
  
   
    <!-- mysql是支持自增的主键的，自增主键的获取利用statement.getGenreatedKeys（）； 
    useGeneratedKeys="true";使用自增获取主键的策略
    keyProperty指定对应的主键属性，把值封装给javaBean的哪个属性。
    -->
    <insert id="addEmp" databaseId="mysql" useGeneratedKeys="true"
    keyProperty="id">
        insert into customer(name,birth)
        values(#{lastName},#{hireDate})
    </insert>
 
 

    
    <!--  public void updateEmp(Employee employee); -->
    <update id="updateEmp">
        update employees 
            set employee_id=#{id},last_name=#{lastName}
            where employee_id = #{id}
    </update>
    
    
    <!-- public void deleteEmpById(Integer id); -->
    <delete id="deleteEmpById">
        delete from employees where employee_id = #{id} 
    </delete>
</mapper>